<!DOCTYPE html>
<html lang="zh-Hant">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            <%= title %>
        </title>
    </head>

    <body>
        <header>
            <!-- 頁首內容 -->
        </header>
        <main>
            <%- body %>
        </main>
        <footer>
            <!-- 頁尾內容 -->
        </footer>
    </body>

</html>