<h1>
    <%= title %>
</h1>
<ul>
    <% videos.forEach(video=> { %> <li>
            <a href="<%= video.path %>" download>
                <%= video.name %> - 下載
            </a>
            <br>
            <video controls width="320">
                <source src="<%= video.path %>" type="video/webm"> Your browser does not support the video tag.
            </video>
        </li>
        <% }) %>
</ul>