<h1>網站錄影功能</h1>
<video id="video" width="640" height="480" autoplay></video>
<button id="startBtn">開始錄影</button>
<button id="stopBtn" disabled>停止錄影</button>
<button id="downloadBtn" disabled>下載錄影</button>
<!-- 錯誤訊息顯示區域 -->
<div id="errorMessage" style="color: red; display: none;"></div>
<script src="/js/record.js"></script>