<section id="home" class="relative overflow-hidden z-10 w-full h-full flex items-center justify-center" style="background-image: url('/img/background-min.jpg'); background-size: cover; background-position: center;">
    <div class="container">
        <div class="w-full">
            <div class="mx-auto max-w-[770px] text-center wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s;">
                <div class="relative w-full h-screen">
                    <video id="video" class="hidden" autoplay></video>
                    <div class="w-full h-full object-cover flex items-center justify-center">
                        <button id="recordBtn" type="button" style="background-color: #3490dc; border-color: #2779bd; color: white; font-weight: 500; border-radius: 9999px; padding: 3rem; display: inline-flex; align-items: center; justify-center;">
                            <svg class="w-24 h-24" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                <circle cx="12" cy="12" r="8" />
                            </svg>
                            <span class="sr-only">Start Recording</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 新增遮罩 -->
<div id="overlay" style="display: none; position: fixed; top: 0; left: 0; width: 100vw; height: 100%; background-color: #1d1f20; color: white; font-size: 2rem; align-items: center; justify-content: center; z-index: 20;">
    <div id="clock" class="w-full h-full flex flex-col items-center justify-center" style="font-family: Arial; font-size: 120px; text-align: center; transform: rotate(90deg);">
        <div id="clockText"></div>
        <button id="stopBtn" style="margin-top: 20px; padding: 15px 30px; background-color: transparent; color: white; border: 1px solid #fff; border-radius: 9999px; cursor: pointer; font-size: 1.2rem; font-weight: 500; transition: all 0.3s ease; box-shadow: 0 4px 6px rgba(0,0,0,0.1); hover:background-color: #cc1f1a;">退出時間顯示</button>
    </div>
</div>
<script src="/js/record.js"></script>