<div class="record-page">
    <video id="video" width="640" height="480" autoplay></video>
    <button class="bg-red-800 text-white start-btn" id="startBtn">開始錄影</button>
    <button class="bg-red-800 text-white stop-btn" id="stopBtn" disabled>停止錄影</button>
    <button class="bg-red-800 text-white download-btn" id="downloadBtn" disabled>下載錄影</button>
    <!-- 錯誤訊息顯示區域 -->
    <div id="errorMessage" style="color: red; display: none;"></div>
</div>
<script src="/js/record.js"></script>