@use "pages/home";
@use "pages/record";
@use "pages/list";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  line-height: inherit;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
